name: test
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - main

jobs:
  test-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - run: bun run test
      
